<div style=" height: 100%;">
  <!-- 中间工作区域 -->
  <!--<workspace></workspace>-->
  <my-workspace></my-workspace>

  <!-- 右边配置区域 -->
  <!--<right-tab></right-tab>-->

  <my-setting [root]="root"></my-setting>


  <div>
    <!--<top-bar></top-bar>-->
    <my-topbar  [root]="root"></my-topbar>
    <!-- 左上角图标开始 -->
    <div class="bem-DesignerLogo">
      <div class="bem-DesignerLogo_Button bem-DesignerLogo_Button-linkOnly">
        <div class="bem-DesignerLogo_Icon">
          <span style="margin-top: 6px">Z</span>
        </div>
      </div>
    </div>
    <!-- 左上角图标结束 -->
    <!--<left-bar></left-bar>-->
    <my-leftbar></my-leftbar>
    <my-bottombar *ngIf="root" [node]="root"></my-bottombar>
    <!--<bottom-bar></bottom-bar>-->
  </div>
  <my-context-menu [root]="root"></my-context-menu>
</div>
